.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color:#ffffff;
}
.newConversation{
    width: 100%;
}
.conversationList{
    /* height: 100%; */
    flex-grow: 1;
    width: 100%;
    /* min-width: 100%; */
    overflow-y: scroll;
}
.conversationList::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn cho Chrome, Safari và Opera */
  }
.popUpButton {

}
.contextMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
.newConversationSelect {
    width: 100%;
    margin: 10px 0;
}